[submodule ".emacs.d/android-mode"]
	path = .emacs.d/android-mode
	url = https://github.com/remvee/android-mode
[submodule ".emacs.d/restclient"]
	path = .emacs.d/restclient
	url = https://github.com/pashky/restclient.el.git
[submodule ".emacs.d/less-css-mode"]
	path = .emacs.d/less-css-mode
	url = https://github.com/purcell/less-css-mode.git
[submodule ".emacs.d/coffee-mode"]
	path = .emacs.d/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/slim-mode"]
	path = .emacs.d/slim-mode
	url = https://github.com/minad/emacs-slim.git
[submodule ".emacs.d/ecb"]
	path = .emacs.d/ecb
	url = https://github.com/emacsmirror/ecb.git
[submodule ".emacs.d/markdown-mode"]
	path = .emacs.d/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule ".emacs.d/jde"]
	path = .emacs.d/jde
	url = https://github.com/emacsmirror/jdee.git
[submodule ".emacs.d/cedet"]
	path = .emacs.d/cedet
	url = http://git.randomsample.de/cedet.git
