[submodule ".emacs.d/android-mode"]
	path = .emacs.d/android-mode
	url = https://github.com/remvee/android-mode
[submodule ".emacs.d/restclient"]
	path = .emacs.d/restclient
	url = https://github.com/pashky/restclient.el.git
[submodule ".emacs.d/less-css-mode"]
	path = .emacs.d/less-css-mode
	url = https://github.com/purcell/less-css-mode.git
[submodule ".emacs.d/coffee-mode"]
	path = .emacs.d/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/slim-mode"]
	path = .emacs.d/slim-mode
	url = https://github.com/minad/emacs-slim.git
[submodule ".emacs.d/ecb"]
	path = .emacs.d/ecb
	url = https://github.com/emacsmirror/ecb.git
[submodule ".emacs.d/markdown-mode"]
	path = .emacs.d/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule ".emacs.d/jde"]
	path = .emacs.d/jde
	url = https://github.com/emacsmirror/jdee.git
[submodule ".emacs.d/cedet"]
	path = .emacs.d/cedet
	url = http://git.randomsample.de/cedet.git
[submodule ".emacs.d/ace-jump-mode"]
	path = .emacs.d/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule ".emacs.d/expand-region"]
	path = .emacs.d/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/key-chord"]
	path = .emacs.d/key-chord
	url = git://github.com/emacsmirror/key-chord.git
[submodule ".emacs.d/iy-go-to-char"]
	path = .emacs.d/iy-go-to-char
	url = git://github.com/emacsmirror/iy-go-to-char.git
[submodule ".emacs.d/mark-multiple"]
	path = .emacs.d/mark-multiple
	url = git://github.com/magnars/mark-multiple.el.git
[submodule ".emacs.d/org-mode"]
	path = .emacs.d/org-mode
	url = git://orgmode.org/org-mode.git
[submodule ".emacs.d/dictionary"]
	path = .emacs.d/dictionary
	url = https://github.com/emacsmirror/dictionary.git
[submodule ".emacs.d/anything-config"]
	path = .emacs.d/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule ".emacs.d/switch-window"]
	path = .emacs.d/switch-window
	url = git://github.com/dimitri/switch-window.git
[submodule ".emacs.d/window-number"]
	path = .emacs.d/window-number
	url = git://github.com/emacsmirror/window-number.git
